@import "./styles/variables";

#root {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.header-container {
  @include flexCenter;
  align-items: flex-start;
  width: 100%;
  background-color: $clr-bg-dk;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(224, 234, 243);
}